<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu_estilo.css')}}">
</head>

<body>
    <nav>
        <ul>
            <li><a href="/index">Página Inicial</a></li>
            <li><a href="/contato">Contato</a></li>
        </ul>
    </nav>
    {% block conteudo %}
    {% endblock %}
    <h6>Projeto desenvolvido por Delcio Moura</h6>
</body>

</html>